/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 1056 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 1056 Grid
================================================== */

    .container                                  { position: relative; width: 1056px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 46px;  }
    .container .two.columns                     { width: 112px; }
    .container .three.columns                   { width: 178px; }
    .container .four.columns                    { width: 244px; }
    .container .five.columns                    { width: 310px; }
    .container .six.columns                     { width: 376px; }
    .container .seven.columns                   { width: 442px; }
    .container .eight.columns                   { width: 508px; }
    .container .nine.columns                    { width: 574px; }
    .container .ten.columns                     { width: 640px; }
    .container .eleven.columns                  { width: 706px; }
    .container .twelve.columns                  { width: 772px; }
    .container .thirteen.columns                { width: 838px; }
    .container .fourteen.columns                { width: 904px; }
    .container .fifteen.columns                 { width: 970px; }
    .container .sixteen.columns                 { width: 1036px; }

    .container .one-third.column                { width: 332px; }
    .container .two-thirds.column               { width: 684px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 66px;  }
    .container .offset-by-two                   { padding-left: 132px; }
    .container .offset-by-three                 { padding-left: 198px; }
    .container .offset-by-four                  { padding-left: 264px; }
    .container .offset-by-five                  { padding-left: 330px; }
    .container .offset-by-six                   { padding-left: 396px; }
    .container .offset-by-seven                 { padding-left: 462px; }
    .container .offset-by-eight                 { padding-left: 528px; }
    .container .offset-by-nine                  { padding-left: 594px; }
    .container .offset-by-ten                   { padding-left: 660px; }
    .container .offset-by-eleven                { padding-left: 726px; }
    .container .offset-by-twelve                { padding-left: 792px; }
    .container .offset-by-thirteen              { padding-left: 858px; }
    .container .offset-by-fourteen              { padding-left: 924px; }
    .container .offset-by-fifteen               { padding-left: 990px; }





/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
